@model CourseReviewApp.Web.ViewModels.ReviewVm

<div class="container">
    <div class="row">
        <h4 class="font-weight-light mb-3">Review</h4>
        <dl class="row">
            <dt class="col-sm-3">
                Author
            </dt>
            <dd class="col-sm-9">
                @if (User.IsInRole("Admin"))
                {
                    <a class="text-decoration-none text-info" asp-controller="User" asp-action="UserDetails"
                       asp-route-id="@Model.Author.Id">@Model.Author.FullName</a>
                }
                else
                {
                    @Model.Author.FullName
                }
            </dd>
            <dt class="col-sm-3">
                For course
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CourseName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DateAdded)
            </dt>
            <dd class="col-sm-9">
                @Model.DateAdded.ToString("dd.MM.yyyy HH:mm:ss")
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DateEdited)
            </dt>
            <dd class="col-sm-9">
                @(Model.DateEdited.HasValue ? Model.DateEdited.Value.ToString("dd.MM.yyyy HH:mm:ss") : "Was not edited")
            </dd>
            <dt class="col-sm-3">
                Rating
            </dt>
            <dd class="col-sm-9">
                <partial name="_StarRatingPartial" model="@Model.RatingValue" />
            </dd>
            <dt class="col-sm-3">
                Contents
            </dt>
            <dd class="col-sm-9">
                @Html.Raw(Model.Contents.Replace("\n", "<br/>"))
            </dd>
        </dl>
    </div>
</div>