@model CourseReviewApp.Web.ViewModels.AssignModeratorRoleVm
@{
    ViewData["Title"] = Model.Roles.Contains("Moderator") ? "Unassign moderator role" : "Assign moderator role";
}

<div class="container">
    <div class="row d-flex justify-content-center mt-4">
        <div class="card bg-light p-3 col-12 col-sm-11 col-md-10 col-lg-8 col-xl-7">
            <h1 class="font-weight-light text-center">@ViewData["Title"]</h1>
            <hr />
            <h3 class="font-weight-light mb-3">User</h3>
            <dl class="row">
                <dt class="col-4 col-sm-3">
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>
                <dd class="col-8 col-sm-9">
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <dt class="col-4 col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-8 col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-4 col-sm-3">
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </dt>
                <dd class="col-8 col-sm-9">
                    @Model.RegistrationDate.ToString("dd.MM.yyyy hh:mm")
                </dd>
                <dt class="col-4 col-sm-3">
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd class="col-8 col-sm-9">
                    @(Model.IsActive ? "Active" : "Blocked")
                </dd>
                <dt class="col-4 col-sm-3">
                    Roles
                </dt>
                <dd class="col-8 col-sm-9">
                    @foreach (var role in Model.Roles)
                    {
                        <span>@role, </span>
                    }
                </dd>
            </dl>
            <form asp-action="@ViewBag.ActionName">
                <div class="form-group">
                    <input type="hidden" asp-for="FullName" class="form-control" />
                    <input type="hidden" asp-for="Id" class="form-control" />
                    <input type="hidden" asp-for="Email" class="form-control" />
                </div>
                <div class="form-group row d-flex justify-content-center mt-5">
                    <button class="btn btn-success mr-3"><i class="fas fa-check mr-2"></i>Confirm</button>
                    <button type="button" class="btn btn-danger btn-back"><i class="fas fa-times mr-2"></i><span>Cancel</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

